<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="settings/index">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="theContentPageSetting">
    <ul class="list-group">
        <li class="list-group-item">
            <a th:href="@{/setting/classe/no-active}">Planifier les classes qui seront ouvertes
            </a>
        </li>
        <li class="list-group-item"><a href="#">Lien 2</a></li>
        <li class="list-group-item"><a href="#">Lien 3</a></li>
        <li class="list-group-item"><a href="#">Lien 4</a></li>
        <!-- Ajoutez d'autres liens ici si nécessaire -->
    </ul>
</div>
</body>
</html>