<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="settings/index">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="theContentPageSetting">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Libelle</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="classe :${classes}">
            <td th:text="${classe.id}"></td>
            <td th:text="${classe.libelle}"></td>
            <td>
                <a th:href="@{/setting/classe/{id}/active(id=${classe.id})}">Activer</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>